<p> Hi <%= @task.project.client.name %>, <br/>
The task (<%= @task.title %>) belonging to <%= @task.project.name %> has
been incompleted.It was due on <%= @task.due_date %>. <br/>

regards,<br/>
Team Tasksbox <br/>
</p>
